.jumbo-section {
    text-align: center;
}
.home-page-reg-form {
    display: none;
}
.home-page-login-form {
    display: none;
}
.shop-page-jumbo {
    display: none;
}
.contact-page-jumbo {
    display: none;
}
.shop-page-middle {
    display: none;
}
.contact-page-middle {
    display: none;
}
.jumbotron h2 {
    color: darkgrey;
    font-weight: 800;
}
.footer {
    color: #bbbbbb;
}
.home-page-middle p {
    color: #878787;
}
.jumbotron .row div {
    padding: 30px;
    border: 0 solid;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    transition: background-color 0.2s;
}
.jumbotron .row div:hover {
    background-color: lightgrey;
}
.shop-page-middle .row div {
    padding: 30px;
    border: 0 solid;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}