/*************************************************
GENERAL
**************************************************/

h2, h4 {
    font-family: 'PT Sans Caption', sans-serif;
}

p {
    font-family: 'Merriweather', serif;
}



/*************************************************
JUMBO
**************************************************/

.jumbo-section {
    text-align: center;
}

.jumbotron h2 {
    color: darkgrey;
    font-weight: 800;
}

.shop-page-jumbo,
.contact-page-jumbo,
.home-page-reg-form,
.home-page-login-form {
    display: none;
}

.jumbotron .row div {
    padding: 30px;
    border: 0 solid;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    transition: background-color 0.2s;
}

.jumbotron .row div:hover {
    background-color: lightgrey;
}



/*************************************************
MAIN AREA
**************************************************/

.shop-page-middle,
.contact-page-middle {
    display: none;
}

.shop-page-middle .row div {
    padding: 30px;
    border: 0 solid;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}



/*************************************************
FOOTER
**************************************************/

.footer {
    color: #bbbbbb;
}



/*************************************************
COLOR
**************************************************/

.home-page-middle p {
    color: #878787;
}