/*************************************************
GENERAL
**************************************************/

h2, h4 {
    font-family: 'PT Sans Caption', sans-serif;
}

p {
    font-family: 'Merriweather', serif;
}

img {
    max-width: 100%;
}

/*************************************************
JUMBO
**************************************************/

.jumbo-section {
    text-align: center;
}

.jumbotron h2 {
    font-weight: 800;
}

.shop-page-jumbo,
.contact-page-jumbo,
.home-page-reg-form,
.home-page-login-form {
    display: none;
}

.jumbotron .row div {
    padding: 30px;
    border: 0 solid;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    transition: background-color 0.2s;
}



/*************************************************
MAIN AREA
**************************************************/

.shop-page-middle,
.contact-page-middle {
    display: none;
}

#shop-ocean {
    margin: 0;
    padding: 0;
    list-style: none;
}

#shop-ocean li {
    float: left;
    width: 45%;
    margin: 2.5%;
}

#shop-ocean li p {
    text-align: center;
    padding: 5px 0 0 0;
}



/*************************************************
MAIN AREA
**************************************************/

.footer {
    clear: both;
}



/*************************************************
COLOR
**************************************************/

.jumbotron h2 {
    color: darkgrey;
}

.jumbotron .row div:hover {
    background-color: lightgrey;
}

.home-page-middle p {
    color: #878787;
}

#shop-ocean li {
    background-color: #f5f5f5;
    color: #bdc3c7;
}

.footer {
    color: #bbbbbb;
}